// Paleta & etc

$color-1: #ff8310;
$color2: #cccccc;
$color3: #191a20;
$color4: #232323;
$border-radius-default: 8px;
$padding-default: 20px;
$gap-default: 10px;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  background-color: $color4;
}

.header {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #232323;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
}

.cart {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.contentItems {
  display: flex;
  gap: 25px;
  padding: 40px 10px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.item {
  border-radius: $border-radius-default;
  background-color: $color3;
  width: 300px;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: $gap-default;
  padding: 10px;
}

.contentImg {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color4;
  width: 250px;
  height: 250px;
}

.box1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: $gap-default;
  margin-top: 10px;
}

.box2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: $gap-default;
  margin-top: 10px;
}

.addCart {
  border: transparent;
  background-color: $color-1;
  padding: $padding-default;
  border-radius: $border-radius-default;
  width: 220px;
  cursor: pointer;
}

.price {
  display: flex;
  align-items: center;
  gap: 10px;
}

.coin {
  background-color: #627eea;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.loadingMore {
  background-color: $color2;
  border: transparent;
  padding: $padding-default;
  width: 300px;
  border-radius: $border-radius-default;
  cursor: pointer;
}
.contentLoading {
  margin: 100px;
}

.footer {
  width: 100%;
  padding: $padding-default;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color2;
}
